[Unit]
Description=MG Logs Server
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
ExecStart=/root/servers/mglogs

[Install]
WantedBy=multi-user.target